body {
	font-family: 'Varela Round', sans-serif;
}

button {
	font-family : inherit; /* Needed for buttons to use the specified font family */
	font-size: 1em;
}

.bg-lightgreen {
	background-color: rgb(88, 204, 2);
}

.bg-grey {
	background-color: rgb(52,58,64);
}

.container {
	max-width: 666px;
}
.dropdown-item, .nav-item {
	cursor: pointer;
}
.kuku-textarea-135 {
	height: 135px;
}

.pointer {
	cursor: pointer;
}

.answer-container, .choice-container {
	min-height: 50px;
}

.choice-container .btn-outline-secondary, .answer-container .btn-outline-secondary { 
	--bs-btn-hover-bg: transparent; /* Fix for this showing after button click in quiz */
}

/* The area that holds the shape of the button when it is removed */
.btn-placeholder {
	display: inline-block;
	margin:4px;
	font-size: 1rem;
	font-weight: 500;
	line-height: 1.5;
	text-align: center;
	text-decoration: none;
	white-space: nowrap;
	cursor: default;
	border-radius: 1rem;
	transition: all 0.3s ease;
	color: grey;
	background-color: grey;
	border-color: grey;
	box-sizing: border-box;
}

.btn-placeholder:hover {
	background-color: grey;
	border-color: grey;
}

.btn-placeholder:focus {
	box-shadow: none;
}

.hidden {
	visibility: hidden;
}